# Gradle metadata/tempfiles
.gradle

# Build files
build
out

# Dev Minecraft instance
minecraft/*

# Local dependencies; must be provided
lib/*

; Intellij IDEA project files
*.iml
*.ipr
*.iws
.idea/

!.gitkeep
